<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.hccnnet.reviewsys.IDao.DepartmentsMapper" >
  <resultMap id="BaseResultMap" type="com.hccnnet.reviewsys.domain.Departments" >
    <id column="d_id" property="dId" jdbcType="INTEGER" />
    <result column="d_dept_name" property="dDeptName" jdbcType="VARCHAR" />
    <result column="attribute1" property="attribute1" jdbcType="VARCHAR" />
    <result column="attribute2" property="attribute2" jdbcType="VARCHAR" />
    <result column="attribute3" property="attribute3" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    d_id, d_dept_name, attribute1, attribute2, attribute3
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from departments
    where d_id = #{dId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from departments
    where d_id = #{dId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.hccnnet.reviewsys.domain.Departments" >
    insert into departments (d_id, d_dept_name, attribute1, 
      attribute2, attribute3)
    values (#{dId,jdbcType=INTEGER}, #{dDeptName,jdbcType=VARCHAR}, #{attribute1,jdbcType=VARCHAR}, 
      #{attribute2,jdbcType=VARCHAR}, #{attribute3,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.hccnnet.reviewsys.domain.Departments" >
    insert into departments
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="dId != null" >
        d_id,
      </if>
      <if test="dDeptName != null" >
        d_dept_name,
      </if>
      <if test="attribute1 != null" >
        attribute1,
      </if>
      <if test="attribute2 != null" >
        attribute2,
      </if>
      <if test="attribute3 != null" >
        attribute3,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="dId != null" >
        #{dId,jdbcType=INTEGER},
      </if>
      <if test="dDeptName != null" >
        #{dDeptName,jdbcType=VARCHAR},
      </if>
      <if test="attribute1 != null" >
        #{attribute1,jdbcType=VARCHAR},
      </if>
      <if test="attribute2 != null" >
        #{attribute2,jdbcType=VARCHAR},
      </if>
      <if test="attribute3 != null" >
        #{attribute3,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.hccnnet.reviewsys.domain.Departments" >
    update departments
    <set >
      <if test="dDeptName != null" >
        d_dept_name = #{dDeptName,jdbcType=VARCHAR},
      </if>
      <if test="attribute1 != null" >
        attribute1 = #{attribute1,jdbcType=VARCHAR},
      </if>
      <if test="attribute2 != null" >
        attribute2 = #{attribute2,jdbcType=VARCHAR},
      </if>
      <if test="attribute3 != null" >
        attribute3 = #{attribute3,jdbcType=VARCHAR},
      </if>
    </set>
    where d_id = #{dId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.hccnnet.reviewsys.domain.Departments" >
    update departments
    set d_dept_name = #{dDeptName,jdbcType=VARCHAR},
      attribute1 = #{attribute1,jdbcType=VARCHAR},
      attribute2 = #{attribute2,jdbcType=VARCHAR},
      attribute3 = #{attribute3,jdbcType=VARCHAR}
    where d_id = #{dId,jdbcType=INTEGER}
  </update>
  <select id="selectByDeptName" resultType="java.lang.Integer" parameterType="java.lang.String" >
    select
    d.d_id
    from departments d
    where d.d_dept_name = #{deptName,jdbcType=INTEGER}
  </select>
</mapper>